.alerts {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  background-color: transparent;
  @include hidden_on_hover(0.2s);

  &.open {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.45);
  }

  &--alert {
    height: 100vh;
    width: 100vw;

    grid-row: 1 / -1;
    grid-column: 1 / -1;

    display: grid;
    justify-content: center;
    align-content: center;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  &--card {
    width: 80rem;
    height: 40rem;

    display: grid;
    justify-items: center;
    align-content: center;
    grid-auto-rows: max-content;
    row-gap: 2.2rem;

    color: #000;
    background: #fff;
    border-radius: 12px;

    .feather {
      height: 3.5rem;
      width: 3.5rem;
    }

    h3 {
      font-size: 3rem;
      line-height: 1;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.25;
      width: 45rem;
      text-align: center;
    }

    textarea {
      resize: none;
      height: 20rem;
      width: 100%;

      border-radius: 12px;
      padding: 1rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 2px 2px grey;
        transition: box-shadow 0.25s linear;
      }
    }
  }

  &--alert__cloud-error &--btn {
    &:link,
    &:visited {
      margin: 0 auto;
      margin-top: 1rem;
      width: 30rem;
    }
  }

  &--btn {
    &:link,
    &:visited {
      outline: none;
      border: none;

      display: block;

      background-color: #fedf30;
      color: #fff;
      padding: 1rem 1.8rem;
      margin-top: 1rem;
      font-size: 2rem;
      text-decoration: none;
      border-radius: 4px;

      transition: transform 0.2s ease, background-color 0.2s ease;

      &:hover,
      &:active {
        transform: translateY(-5px);
        background-color: #ddc32f;
      }
    }
  }
}
