.dock {
  justify-self: center;
  align-self: end;

  display: grid;
  // Increase repeat() as needed
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: 10rem;
  column-gap: 1.8rem;

  border-radius: 6px 6px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2.8rem rgba(0, 0, 0, 0.3);
  padding: 0.8rem 1.6rem;

  &--app {
    justify-self: center;
    align-self: center;

    width: 80%;
    height: 80%;

    &-icon-container {
      width: 100%;
      height: 100%;

      cursor: pointer;
      display: grid;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      background-color: #999;
      color: #fff;
      box-shadow: 0 0 2.8rem rgba(0, 0, 0, 0.18);

      &__1 {
        background: radial-gradient(#f06464, #f55252);
      }

      &__2 {
        background: radial-gradient(#60e385, #57e777);
      }

      &__3 {
        background: radial-gradient(#f6c76c, #edb853);
      }

      &__4 {
        background: radial-gradient(#7adfff, #5ed3f8);
      }

      .feather {
        width: 4.6rem;
        height: 4.6rem;
      }
    }

    &-open-indicator {
    }
  }
}
