.menu-bar {
  justify-self: center;
  align-self: start;

  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: 1rem 1.4rem;

  &--clock {
    h3 {
      font-weight: 400;
      font-size: 2.2rem;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    column-gap: 2rem;

    list-style: none;

    li a:link,
    li a:visited {
      outline: none;
      border: none;

      color: #fff;

      transition: color 0.2s ease;

      &:hover,
      &:active {
        color: #ddd;
      }
    }
  }
}
