*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: #fff;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  user-select: none;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  & > div {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}
