.heading-primary {
  display: inline-block;
  letter-spacing: 0.2rem;
  font-size: 9rem;
  line-height: 1;
}

.heading-secondary {
  font-size: 4.5rem;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-family: 'Roboto', 300;
  font-size: 2.4rem;
  color: #393939;
  line-height: 1;
  margin-bottom: 1.6rem;
}
